@import 'partials/credits';
@import 'partials/lists';
@import 'partials/details';

body {
    min-width: 1100px;
    font-size:14px;
    color:#484949;
    line-height: 18px;
    margin: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  }

.top {
	height: 35px;
	background-color: black;
	/* gradients */
	background: -webkit-gradient(linear, left top, right top, 
	color-stop(0%, #383838), color-stop(50%, #606060), color-stop(100%, #383838)); 
	background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}

